DATABASE_URL=
RABBITMQ_URL=
JWT_SECRET=
SESSION_SECRET=
FRONTEND_URL=

# SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=no-reply@airops.local

# Server config
SERVER_PORT=3000
SERVER_HOST=0.0.0.0